html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    width: 100%;
    margin-bottom: 20px;
}

#main input[type="text"] {
    padding: 5px;
}

#main .btn {
    padding: 8px 10px;
    background-color: rgb(1, 86, 124);
    color: white;
    border: none;
    border-radius: 10px;
    min-width: 100px;
    cursor: pointer;
}

#main form {
    display: grid;
    gap: 10px;
    max-width: 300px;
}

#cardSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.card {
    border: solid 2px #000;
    padding: 5px;
    max-width: 100%;
}

.card .imageSection {
    text-align: center;
    overflow: hidden;
}

.card .imageSection img {
    max-height: 200px;
}